﻿@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html> 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Развернутые дампы</title>
</head>
<body>
    <div>    
        <h3>Схемы</h3>
        <div id='button'>
            <a class="button" asp-area="" asp-controller="Home" asp-action="UpdateScheme">Обновить</a>
        </div>
        <table>
            <tr><th><p>Общество группы</p></th>
                <th><p>Начало</p></th>
                <th><p>Конец</p></th>
                <th><p>Схема</p></th>
                <th><p>Код</p></th>
                <th><p>Сервер</p></th>
                <th><p>Версия_клиента</p></th>
            </tr>
            @foreach (var b in ViewBag.Schemes)
            {
            <tr>
                <td><p>@b.OfficialName</p></td>
                <td><p>@b.Start.ToString("dd/MM/yyyy")</p></td>
                <td><p>@b.Finish.ToString("dd/MM/yyyy")</p></td>
                <td><p>@b.NameId</p></td>
                <td><p>@b.Code</p></td>
                <td><p>@b.Server</p></td> 
                <td><p>@b.ClientVersion</p></td> 
            </tr>
            }
        </table>
    </div>
</body>
</html>
