﻿@{
    ViewData["Title"] = "Monitor";
}

<!DOCTYPE html> 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Монитор работы базы данных</title>
</head>
<body>
    <div>
        <h3>Параметры работы сервера</h3>
        <table>
            <tr><th><p> Имя компьютера </p></th>
                <th><p> Загруженность процессора, % </p></th>
                <th><p> Свободная память, Гб </p></th>
            </tr>
            <tr>
                <td><p>@ViewBag.ComputerName</p></td>
                <td><p>@ViewBag.CpuCounter</p></td>
                <td><p>@ViewBag.RamCounter</p></td>
            </tr>
        </table>
        <h3>Блокировки</h3>
        <table>
            <tr><th><p>Схема</p></th>
                <th><p>Название</p></th>
                <th><p>Тип</p></th>
                <th><p>Статус</p></th>
                <th><p>Пользователь</p></th>
                <th><p>Компьютер</p></th>
            </tr>
            @foreach (var b in ViewBag.Locks)
            {
            <tr>
                <td><p>@b.OWNER</p></td>
                <td><p>@b.OBJECT_NAME</p></td>
                <td><p>@b.OBJECT_TYPE</p></td>
                <td><p>@b.STATUS</p></td>
                <td><p>@b.OSUSER</p></td>
                <td><p>@b.MACHINE</p></td>
            </tr>
            }
        </table><h3>Сессии пользователей</h3>
        <table>
            <tr><th><p>Пользователь</p></th>
                <th><p>Схема</p></th>
                <th><p>Активность</p></th>
                <th><p>Программа</p></th>
            </tr>
            @foreach (var b in ViewBag.Sessions)
            {
            <tr>
                <td><p>@b.OSUSER</p></td>
                <td><p>@b.SCHEMANAME</p></td>
                <td><p>@b.STATUS</p></td>
                <td><p>@b.PROGRAM</p></td>
            </tr>
            }
        </table>
    </div>
</body>
</html>
